<html ng-app="Mangler">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/6.2.2/math.min.js" type="text/javascript"></script>

    <script src="app.js" type="text/javascript"></script>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700" rel="stylesheet">

    <link href="base-style.css" type="text/css" rel="stylesheet" />
    <link href="style.css" type="text/css" rel="stylesheet" />

    <title>Mangler</title>
</head>

<body ng-controller="MainController">
    <div class="mainbox">
        <h1>Mangler</h1>
        <div class="parameterrow">
            <div>
                <label for="numberOfInstances">Number of Instances</label>
                <input id="numberOfInstances" ng-model="mangleGrid.numberOfInstances" type="number" step="1" min="1" max="10" />
            </div>
            <div>
                <label for="numberOfQuestionParameters">Number of Parameters</label>
                <input id="numberOfQuestionParameters" ng-model="mangleGrid.numberOfQuestionParameters" type="number" step="1" min="1" max="40" />
            </div>
            <div>
                <label for="numberOfKeyParameters">Number of Keys</label>
                <input id="numberOfKeyParameters" ng-model="mangleGrid.numberOfKeyParameters" type="number" step="1" min="1" max="20" />
            </div>
            <div>
                <label for="numberOfDistractorParameters">Number of Distractors</label>
                <input id="numberOfDistractorParameters" ng-model="mangleGrid.numberOfDistractorParameters" type="number" step="1" min="1" max="20" />
            </div>
        </div>
        <div class="parameterrow">
            <div>
                <label for="roundToNSF">Round to n Significant Figures</label>
                <input id="roundToNSF" ng-model="mangleGrid.roundToNSF" type="number" step="1" min="0" max="10" />
            </div>
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
        </div>
        <table class="mangletable">
            <tr>
                <td></td>
                <td style="text-align: center;">Identifier / Formula</td>
                <td ng-repeat="j in ni track by $index">Instance {{$index + 1}}</td>
            </tr>
            <tr ng-repeat="i in nqp track by $index" class="questionRow">
                <td style="text-align: right;">Parameter {{$index + 1}}</td>
                <td><input type="text" placeholder="identifier" ng-model="mangleGrid.identifiers[$index]" /></td>

                <td ng-repeat="j in ni track by $index">
                    <input type="number" placeholder="value" ng-model="mangleGrid.questionInputs[$parent.$index][$index]" />
                </td>
            </tr>
            <tr ng-repeat="i in nkp track by $index" class="keyRow">
                <td style="text-align: right;">Key {{$index + 1}}</td>
                <td><input type="text" placeholder="formula" ng-model="mangleGrid.keyFormulae[$index]" /></td>

                <td ng-repeat="j in ni track by $index" style="{{mangleGrid._grid[$parent.$index + mangleGrid.maximumNumberOfQuestionParameters][$index].style}}">{{mangleGrid._grid[$parent.$index + mangleGrid.maximumNumberOfQuestionParameters][$index].displayValue}}</td>
            </tr>
            <tr ng-repeat="i in ndp track by $index" class="distractorRow">
                <td style="text-align: right;">Distractor {{$index + 1}}</td>
                <td><input type="text" placeholder="formula" ng-model="mangleGrid.distractorFormulae[$index]" /></td>

                <td ng-repeat="j in ni track by $index" style="{{mangleGrid._grid[$parent.$index+ mangleGrid.maximumNumberOfQuestionParameters + mangleGrid.maximumNumberOfKeyParameters][$index].style}}">{{mangleGrid._grid[$parent.$index+ mangleGrid.maximumNumberOfQuestionParameters + mangleGrid.maximumNumberOfKeyParameters][$index].displayValue}}</td>
            </tr>
        </table>
        <div>
            <button data-clipboard-text="{{getTableValues()}}" class="copyButton">Copy table</button>
            <button data-clipboard-text="{{getNotesText()}}" class="copyButton">Copy notes</button>
        </div>
    </div>
</body>

</html>