.parameterrow {
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
}

.parameterrow>div {
    flex-basis: 1;
    padding: 0px 20px;
}

.parameterrow label {
    padding: 10px;
    display: inline-block;
}

.mangletable {
    border-collapse: collapse;
    margin: 50px 0px;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

.mangletable td {
    border: 1px solid #C0C0C0;
    padding: 20px;
}

.questionRow td {
    background-color: hsla(210, 80%, 80%, 0.3);
}

.keyRow td {
    background-color: hsla(130, 80%, 80%, 0.3);
}

.distractorRow td {
    background-color: hsla(30, 80%, 80%, 0.3);
}